<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.datayes.framework.orm.dao.model.datayesdb.DatayesdbMapper">
    <resultMap id="CompanyResultMap" type="com.datayes.framework.orm.dao.model.CompanyInfo">
        <id column="ticker_symbol" property="tickerSymbol" jdbcType="CHAR"/>
        <result column="sec_full_name" property="fullName" jdbcType="CHAR"/>
        <result column="sec_short_name" property="shortName" jdbcType="CHAR"/>
        <result column="party_id" property="partyID" jdbcType="BIGINT"/>
        <result column="INDUSTRY_NAME_1ST" property="industry" jdbcType="CHAR"/>
        <result column="INDUSTRY_ID_1ST" property="industryID" jdbcType="CHAR"/>
        <result column="security_id" property="securityID" jdbcType="CHAR"/>
    	<result column="CN_SPELL" property="cnSpell" jdbcType="CHAR"/>
    </resultMap>
    <resultMap id="SecurityResultMap" type="com.datayes.framework.orm.dao.model.SecurityInfo">
    	<id column="SECURITY_ID_INT" property="securityIdInt" jdbcType="BIGINT"/>
    	<result column="SECURITY_ID" property="securityId" jdbcType="CHAR"/>
    	<result column="TICKER_SYMBOL" property="tickerSymbol" jdbcType="CHAR"/>
    	<result column="EXCHANGE_CD" property="exchangeCd" jdbcType="CHAR"/>
    	<result column="SEC_SHORT_NAME" property="secShortName" jdbcType="CHAR"/>
    	<result column="SEC_SHORT_NAME_EN" property="secShortNameEn" jdbcType="CHAR"/>
    	<result column="SEC_FULL_NAME" property="secFullName" jdbcType="CHAR"/>
    	<result column="SEC_FULL_NAME_EN" property="secFullNameEn" jdbcType="CHAR"/>
    	<result column="ASSET_CLASS" property="assetClass" jdbcType="CHAR"/>
    	<result column="PARTY_ID" property="partyId" jdbcType="BIGINT"/>
    	<result column="PARTY_FULL_NAME" property="partyFullName" jdbcType="CHAR"/>
    	<result column="LIST_STATUS_CD" property="listStatusCd" jdbcType="CHAR"/>
    	<result column="CN_SPELL" property="cnSpell" jdbcType="CHAR"/>
    </resultMap>
    
    <select id="selectTickers" resultMap="CompanyResultMap">
        select e.ticker_symbol, e.sec_full_name, e.sec_short_name, e.party_id, e.security_id
        from datayesdbp.vequ e where e.equ_type_cd = 'A' and e.list_status_cd in ('L','UN')
    </select>
    
    <select id="selectCompaniesByFilter" resultMap="SecurityResultMap">
        select e.ticker_symbol, e.sec_full_name, e.sec_short_name, e.party_id, e.security_id
        from datayesdbp.vsecurity e where e.EXCHANGE_CD=#{exchangeCD} and e.ASSET_CLASS=#{assetClass}
    </select>
    
</mapper>