<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace='com.datayes.framework.orm.dao.model.news.NewsMapper'>

   <select id="selectNewsByNewsId" resultType="com.datayes.framework.orm.dao.model.NewsMetadata" parameterType="java.lang.Long">
        select news_id as newsId, insert_time as insertTime, update_time as updateTime, source_name as sourceName, news_author as newsAuthor, news_url as newsUrl,
        news_title as newsTitle, news_fetch_time as newsFetchTime, news_site_name as newsSiteName, news_publish_time as newsPublishTime, news_comments_num as newsCommentsNum,
        hashValue as hashValue, has_summary as hasSummary, isActive as isActive, source_type as sourceType, usefull as usefull, group_id as groupId, auto_update_time as autoUpdateTime, page_tag as pageTag,
        info_type as infoType, effective_time as effectiveTime
        from news_metadata where NEWS_ID = #{newsId,jdbcType=BIGINT}
  </select>


</mapper>